@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;1,400&display=swap');
* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}
header {
    display: flex;
    background: linear-gradient(to top, #000000,  #434343 );
    width: 100%;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 0px 40px;
    position: sticky;
    top: 0;
}
.logo {
    height: 90%;
}
.navbar,
.listado {
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar {
    gap: 100px;
}
.listado {
    gap: 30px;
}
.listado a {
    color: #d2d0c9;
    font-size: 20px;
}
.carrito {
    padding: 12px 18px;
    margin-top: 3px;
    height:60px;
    font-weight: 300;
    cursor: pointer;
    border: 2px solid #cbb365;
    border-radius: 2rem;
    background: #000000;
}
main {
    display: flex;
    background: linear-gradient(to bottom, #000000,  #434343 );
    color: white;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
#hero {
    display: flex ;
    margin-top: 25px;
    padding: 20px 0;
    max-width: 1400px;
    justify-content: center;
    align-items: center;
}
.hero-info {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 50%;
}
.hero-info img {
    height: 300px;
    width: 700px;
}
.hero-info h1 {
    display: flex;
    font-size: 45px;
    width: 85%;
    min-width: 400px;
    font-weight: 800;
    color: #ffa909;
}
.hero-info p {
    font-size: 15px;
    width: 85%;
    color: #ffffff;
}
.hero-info p > span {
    color: #ffa909;
    font-weight: 800;
}
.call {
    display: flex;
    color: #ffa909 ;
    background-color: #2b1d02;
    width: 300px;
    padding: 10px 0px;
    border-radius: 3rem;
    font-size: 15px;
    justify-content: center;
    border: 1px solid #cbb365;
}
.hero-fundador {
    display: flex;
    background: #2b1d02;
    border-radius: 2rem;
    padding: 10px;
    width: 600px;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}
.hero-fundador h3 {
    font-size: 22px;
    color: #cbb365;
}
.hero-fundador p {
    font-size: 15px;
    font-style: italic;
}

#cards {
    padding: 70px 0;
    max-width: 1400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 80px;
    background-color: #2b1d02;
    border-radius: 3rem;
}
#cards h2 {
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #231905;
    border-radius: 2rem;
    justify-content: center;
    width: 800px;
    font-size: 30px;
    font-weight: 800;
    color:white ;
    border: 1px solid #cbb365;
}
#cards h2 > span {
    color: #ffa909;
    padding-left: 8px;
}
#card-p {
    display: flex;
    justify-content: center;
    font-size: 20px;
    text-align: center;

}

.info-cards-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 20px;
}
.info-card {
    display: flex;
    width: 400px;
    height: 400px;
    padding: 40px 30px;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #20180d;
    border-radius: 2rem;
    gap: 10px;

}
#logo-sierras {
    width: 90px;
    height: 80px;
}
#logo-cerveceria {
    width: 80px;
    height: 60px;
}
#logo-fabrica {
    width: 70px;
    height: 70px;
}
.info-card h3{
    font-weight: 600;
    font-size: 18px;
    color: #ffa909;
}
.info-card > p {
    font-size: 14px;
    color: #d2d0c9;   
}
.devices-opt {
    padding: 70px 0;
    max-width: 1400px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 50px;
    border-radius: 3rem;
}
.devices-opt h3 {
    font-size: 25px;
    background-color: #434343;
    color: #cbb365;
    border-radius: 3rem;
    width: 600px;
    text-align: center;
    border: 1px solid #cbb365;
}
.variedades {
    display: flex;
    align-items: center;
}
.variedades img {
    width: 300px;
    height: 300px;
}
.variedades h4 {
    font-size: 30px;
    color: #cbb365;
    padding-left: 20px;
    padding-right: 10px;
}
.variedades p {
    font-size: 15px;
    color: #d2d0c9;
}
.footer-links {
   display: flex;
   background-color: #2e2c2c;
   color: #cbb365;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 40px;
   padding: 60px 0;
}
.footer-links a {
    color: #cbb365;
    font-size: 14px;
    font-weight: 300;
}
.footer-links li > span {
font-size: 20px;
color: #cbb365;
font-weight: 800;
}
